# Don't track content of these folders
######################################
PaymentsCentral/PaymentsCentral.xcodeproj/project.xcworkspace/xcuserdata/marcellochuahy.xcuserdatad/UserInterfaceState.xcuserstate